.invoice {
  font-family: Arial, sans-serif;
}

.details-table,
.order-table,
.items-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.details-table th,
.details-table td,
.order-table th,
.order-table td,
.items-table th,
.items-table td {
  padding: 8px;
  text-align: left;
}


.order-table th,
.details-table th,
.items-table th {
  background-color: #111;
  color: #ffffff;
}

.order-table th,
.order-table td,
.details-table td,
.items-table th,
.items-table td {
  border: 1px solid #000;
}

.items-table .qty-column {
  width: 10%;
}

.items-table .unit-column {
  width: 15%;
}

.items-table .description-column {
  width: 40%;
}

.items-table .unit-price-column,
.items-table .total-column {
  width: 15%;
}

.left-column {
  flex: 1;
}

.right-column {
  text-align: right;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.po-number {
  vertical-align: top;
}

.totals {
  display: flex;
  justify-content: space-between;
}

.notes {
  width: 70%;
}

.summary {
  width: 30%;
  text-align: right;
}

.invoice-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.my-details {
  padding-top: 20px;
}

.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}
